body {
  background-color: #eee;
  padding-top: 46px; }
  body > div {
    background-color: rgba(84, 114, 185, 0.9); }

body,
footer,
html,
#navbar {
  background: url("../img/neuronet.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000; }

h2 {
  color: #eee; }

.container .page {
  background-color: #eee;
  box-shadow: 0 0 5px #5472B9;
  padding: 20px; }

li.clickable:hover {
  cursor: pointer;
  background-color: #ddd !important; }

nav.navbar {
  border-bottom: solid #206e26 1px;
  height: 46px;
  background: url("../img/neuronet.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000; }
  nav.navbar > div {
    height: 46px; }

footer > div {
  padding-bottom: 2em;
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid #206e26 1px;
  color: #eee;
  text-shadow: 0 1px 1px black, 0px -1px 1px black, 1px 0px 1px black, -1px 0px 1px black, 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black; }
