$bgcolor: #eee;
@mixin bgimage {
    background: url("../img/neuronet.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
body {
    background-color: $bgcolor;
    padding-top: 50px;
}
html, footer, nav.navbar
{
    @include bgimage;
}
.container .page {
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
}
li.clickable:hover {
    cursor: pointer;
    background-color: #ddd !important;
}

nav.navbar
{

    // background-image: url("../img/disected_brain.jpg");
}

footer > div
{
    background-color: rgba($bgcolor, .5);
    padding-bottom: 2em;
}
