<div class="subbar">
    <div style="padding-left: 20px; margin-bottom: 10px">
        <h2>App/Data</h2>
        <p class="text-muted">Combines app and dataset into executable unit</p>
        <br>
        <div class="btn-group pull-right" style="left: -20px;top: -5px;">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href>Project ABC</a></li>
            <li><a href>Project DEF</a></li>
            <li><a href>Project AAA</a></li>
            <li role="separator" class="divider"></li>
            <li><a href>Separated link</a></li>
            </ul>
        </div>
        <span class="text-muted">{{appdatas.length}} entries</span>
    </div>
    <hr style="margin: 0px;">

    <div class="onere-list" style="top: 133px;">
        <div class="onere-list-item" 
            ng-repeat="app in appdatas" 
            ng-class="{'active': selected == app}"
            ng-click="select(app)">

            <!--application type-->
            <!--
            <span ng-if="app.config.type == 'docker'" class="label label-primary pull-right">Docker</span>
            <span ng-if="app.config.type == 'dockerbuilder'" class="label label-info pull-right">Dockerfile</span>
            <span ng-if="app.config.type == 'bash'" class="label label-success pull-right">Bash</span>
            -->
            <apptype type="app.config.type" class="pull-right"></apptype>

            <div class="list-header">{{app.name||'untitled'}}</div>
            <small>
                <time class="text-muted" style="position: relative; top: -4px;">{{app.create_date | date}}</time>
                <p class="">{{app.desc|cut:true:200:' ...'}}</p>
            </small>
        </div>
        <div class="onere-list-addicon" ng-click="add()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> 
        </div>
    </div>
</div>

<div class="onere-content" ng-if="selected">
    <div style="margin-left: 30px; margin-right: 30px;">

        <h2 style="position: relative; left: -10px;">
            <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete()"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <!--
            <onoffbutton b="selected.locked" class="pull-right"></onoffbutton>
            -->
            <button type="button" class="btn btn-primary pull-right" 
                ng-disabled="!selected.application_id || !selected.dataset_id" ng-click="execute()">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                Execute
            </button>
        </h2>

        <div class="form-group">
            <!--name/desc-->
            <input type="text" class="header" 
                required
                ng-change="save()"
                ng-model="selected.name" 
                placeholder="Enter a name for this entry .."></input> 
        </div>

        <div class="row">
        <div class="col-md-6">
            <h4>Dataset</h4>
            <select ng-model="selected.dataset_id" 
                ng-change="save()"
                ng-options="dataset._id as dataset.name for dataset in datasets" 
                class="form-control" required>
                <option></option><!--needed to make required work-->
            </select>
        </div>
        <div class="col-md-6">
            <h4>Application</h4>
            <select ng-model="selected.application_id" 
                ng-change="save()"
                ng-options="app._id as app.name for app in applications" class="form-control" required>
                <option></option><!--needed to make required work-->
            </select>
        </div>
        </div><!--row-->

        <!--summary-->
        <br>
        <div class="form-group">
            <textarea class="desc" 
                ng-change="save()"
                ng-model="selected.desc"
                placeholder="Enter app/data summary here .."></textarea> 
        </div>

        <h3>Citation</h3>
        <blockquote class="well">
            Doe, John. (2016); {{selected.name}}. ONERE App/data.
            <small>doi:10.12345/onere.{{selected._id}}</small>
        </blockquote>


        <div class="text-muted">
            <hr style="margin-top: 200px;">
            <h3>Debug</h3>
            <pre style="font-size: 60%;">{{selected}}</pre>
        </div>
    </div><!--margin-left-->
</div>
