<div class="subbar">
    <div style="padding-left: 20px; margin-bottom: 10px">
        <h2>Applications</h2>
        <p class="help-block">Joins dataset, code that can run on a resource</p>
        <br>
        <div class="btn-group pull-right" style="left: -20px;top: -5px;">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <li><a href>Project ABC</a></li>
            <li><a href>Project DEF</a></li>
            <li><a href>Project AAA</a></li>
            <li role="separator" class="divider"></li>
            <li><a href>Separated link</a></li>
            </ul>
        </div>
        <span class="text-muted">{{apps.length}} applications</span>
    </div>
    <hr style="margin: 0px;">

    <div class="onere-list" style="margin-top: 22px;">
        <div class="onere-list-item" 
            ng-repeat="app in apps" 
            ng-class="{'active': selected == app}"
            ng-click="select_app(app)">

            <!--application type-->
            <!--
            <span ng-if="app.config.type == 'docker'" class="label label-primary pull-right">Docker</span>
            <span ng-if="app.config.type == 'dockerbuilder'" class="label label-info pull-right">Dockerfile</span>
            <span ng-if="app.config.type == 'bash'" class="label label-success pull-right">Bash</span>
            -->
            <apptype type="app.config.type" class="pull-right"></apptype>

            <div class="list-header">{{app.name||'untitled'}}</div>
            <small>
                <time class="text-muted" style="position: relative; top: -4px;">{{app.create_date | date}}</time>
                <p class="">{{app.desc|cut:true:200:' ...'}}</p>
            </small>
        </div>
        <div class="onere-list-addicon" ng-click="add_app()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> 
        </div>
    </div>
</div>
<div class="onere-content" ng-if="selected">
    <div style="margin-left: 30px; margin-right: 30px;">

        <h2 style="position: relative; left: -10px;">
            <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete()"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
            <!--
            <onoffbutton b="selected.locked" class="pull-right"></onoffbutton>
            -->
            <button type="button" class="btn btn-primary pull-right" ng-click="execute()" ng-if="resources.onere">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                Execute
            </button>
        </h2>

        <!--name/desc-->
        <input type="text" class="header" 
            ng-change="save()"
            ng-model="selected.name" 
            placeholder="enter app name here .."></input> 
        <textarea class="desc" 
            ng-change="save()"
            ng-model="selected.desc"
            placeholder="enter application summary here .."></textarea> 
        <br>

        <div class="row">
            <div class="col-md-3">
                <h4 style="margin-top: 3px;">Projects</h4>
            </div>
            <div class="col-md-9">
                <ui-select ng-model="selected.project_id" ng-change="save()">
                    <ui-select-match placeholder="Search project...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="project in projects">
                        <div ng-bind-html="project.name | highlight: $select.search"></div>
                        <small ng-bind-html="''+project.desc | cut:true:130:'...'|highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
                <p class="help-block">Members of this project can edit this application</p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <h4>Input Datasets</h4>
            </div>
            <div class="col-md-9">
                <table class="table">
                <thead>
                <tr>
                    <th>Name
                        <small class="help-block">Used as input directory name</small>
                    </th>
                    <th>Dataset
                        <small class="help-block">You can add datasets on Datasets page</small>
                    </th>
                    <!--<th>Required</th>-->
                    <th><!--command--></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataset in selected.datasets">
                    <td width="35%">
                        <input type="text" ng-change="save()" ng-model="dataset.name" class="form-control"></input>
                    </td>
                    <td>
                        <!--
                        <select ng-model="dataset.id._id" 
                            placedholder="Dataset"
                            ng-change="save()"
                            ng-options="dataset._id as dataset.name for dataset in datasets" class="form-control">
                            <option></option> 
                        </select>
                        -->

                      <ui-select ng-model="dataset.id" ng-change="save()">
                        <ui-select-match placeholder="Search dataset ...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="dataset in datasets">
                          <div ng-bind-html="dataset.name | highlight: $select.search"></div>
                          <small>
                            <span ng-bind-html="''+dataset.desc | cut:true:100:'...'|highlight: $select.search"></span>
                          </small>
                        </ui-select-choices>
                      </ui-select>

                        
                    </td>
                    <!--
                    <td>
                        <input type="checkbox" ng-click="save()" ng-model="dataset.required"> Required</input>
                    </td>
                    -->
                    <td>
                        <button type="button" ng-click="delete_dataset(dataset)" class="btn btn-xs">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">
                        <button type="button" ng-click="add_dataset()" class="btn btn-xs">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Dataset
                        </button>
                    </th>
                </tr>
                </tbody>
                </table>

            </div><!--col-md-9-->
        </div> 

        <!--application type-->
        <div class="row form-group">
            <div class="col-md-3">
                <h4>Application Type</h4>
            </div>
            <div class="col-md-9">
                <select class="form-control" style="width: 300px"
                    ng-change="save()"
                    ng-options="item.id as item.label for item in types"
                    ng-model="selected.config.type" required>
                    <option></option><!--needed to make required work-->
                </select>

                <!--some help content-->
                <div class="help-block" ng-if="selected.config.type == 'docker'">
                    <img width="200px" src="img/docker.png">
                    <p>Register your application as a docker container that can be executed on a docker engine. You can publish your container on dockerhub, quay.io or any public registries.</p>
                    <p>Upon execution, input datasets will be mounted on <code>/input/<datasetname></code> as read-only directories. You can output data to <code>/output</code> and will be published up to 25 days via ONERE UI.</p>
                    <p>Container will run with -u uid:gid set to the same user/group ID that is executing container.</p>
                </div>

                <div class="help-block" ng-if="selected.config.type == 'dockerbuilder'">
                    <img width="200px" src="img/docker.png">
                    <p>Register your application in a Dockerfile format that can build your application as a docker container and be executed on a docker engine.</p>
                    <p>Container will run with -u uid:gid set to the same user/group ID that is executing container.</p>
                </div>

                <div class="help-block" ng-if="selected.config.type == 'bash'">
                    <p>Register your application that can be executed on a typical HPC/HTC system from a bash script.</p>
                </div>

            </div><!--col-md-9-->
        </div> 

        <div ng-if="selected.config.type == 'dockerbuilder'">
            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Dockerfile</h4>
                </div>
                <div class="col-md-9">
                    <!--template selector-->
                    <div class="dropdown pull-right">
                      <button class="btn btn-xs btn-default dropdown-toggle" type="button" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Use Template <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat="(label, content) in docker_templates">
                            <a href ng-click="dockerfile_set(content)">{{label}}</a>
                        </li>
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="clear()">Clear</a></li>
                        -->
                      </ul>
                    </div>

                    <div ui-ace="{
                        mode: 'dockerfile',
                        onChange: save,
                    }" ng-model="selected.config.dockerfile" style="height: 200px"></div>
                </div>
            </div><!--form-gruop-->

            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Arguments</h4>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                        ng-change="save()"
                        ng-model="selected.config.container_arg" 
                        placeholder=""></input> 
                    <p class="help-block">Arguments to passed to your container (will override CMD on Dockerfile)</p>
                </div>
            </div> 

            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Preprocessing Script</h4>
                </div>
                <div class="col-md-9">
                    <div ui-ace="{
                        mode: 'sh',
                        onChange: save,
                    }" ng-model="selected.config.prescript"></div>
                    <div class="help-block">
                        <p>Perform any preprocessing of input datasets prior to executing your container.</p>
                        <p><code>$INPUT</code> will point to where the input datasets are staged</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="selected.config.type == 'docker'">
            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Container Name</h4>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                        ng-change="save()"
                        ng-model="selected.config.container" 
                        placeholder="[registry/]namespace/reponame[:tag]" required></input> 
                </div>
            </div> 

            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Arguments</h4>
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control"
                        ng-change="save()"
                        ng-model="selected.config.container_arg" 
                        placeholder="-in /input/data1 -out /output"></input> 
                    <p class="help-block">Arguments to pass to your container</p>
                </div>
            </div> 

            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Preprocessing Script</h4>
                </div>
                <div class="col-md-9">
                    <div ui-ace="{
                        mode: 'sh',
                        onChange: save,
                    }" ng-model="selected.config.prescript"></div>
                    <div class="help-block">
                        <p>Perform any preprocessing of input datasets prior to executing your container</p>
                        <p><code>$INPUT</code> will point to where the input datasets are staged</p>
                    </div>
                </div>
            </div> 

        </div><!--sca-service-docker-->

        <div ng-if="selected.config.type == 'bash'">
            <div class="row form-group">
                <div class="col-md-3">
                    <h4>Bash Script</h4>
                </div>
                <div class="col-md-9">
                    <div ui-ace="{
                        mode: 'sh',
                        onChange: save,
                    }" ng-model="selected.config.bash" style="height: 200px;"></div>
                    <div class="help-block">
                        <p>You can enter script to git clone or use wget to download your applications and run it.</p>
                        <p>Input datasets will be staged using directory names you have specified earlier. Any output files should be generated in script's working directory, or use <code>$SCA_TASK_DIR</code>.</p>
                    </div>
                </div>
            </div> 
        </div><!--sca-service-bash-->

        <div class="row form-group">
            <div class="col-md-3">
                <h4>Resource Type</h4>
            </div>
            <div class="col-md-9">
                <select class="form-control" style="width: 300px"
                    ng-change="save()"
                    ng-options="id as detail.name for (id, detail) in resource_types"
                    ng-model="selected.config.resource_type" required>
                    <option></option><!--needed to make required work-->
                </select>
                <p class="help-block">Resource where you can execute this service. Only users who have access to specified resource can actually execute.</p>
            </div><!--col-md-9-->
        </div> 


        <h3>Citation</h3>
        <blockquote class="well">
            <p>
                Doe, John. (2016); {{selected.name}}. ONERE Application.
            </p>
            <doi type="'app'" id="selected._id"></doi>
        </blockquote>

        <!--debugging..-->
        <div class="text-muted">
            <hr style="margin-top: 200px;">
            <h3>Debug</h3>
            <pre style="font-size: 60%;">{{selected|json}}</pre>
        </div>
    </div>
</div>
