<h1>Dashboard</h1>

<form ng-submit="search()">
	<input type="text" ng-model="keywords" />

	<button>Submit</button>
</form>

<div>
	<h2>Stats</h2>
	<ul>
		<li>Users: {{stats.users}}</li>
		<li>Resources: {{stats.resources}}</li>
		<li>Datasets: {{stats.datasets}}</li>
		<li>Services: {{stats.services}}</li>
	</ul>
</div>

<button ng-click="gotoPage('/submit_dataset')">Submit Dataset</button>
<button ng-click="gotoPage('/submit_service')">Submit Service</button>
<button ng-click="gotoPage('/create_project')">Create Project</button>
