<div class="onere-search-area">
    <i class="fa fa-search onere-search-icon text-muted" 
        aria-hidden="true"></i>
    <!--
    <i class="fa fa-times-circle-o onere-search-clear text-muted" 
        ng-if="searchterm" 
        ng-click="clear_searchterm()" 
        aria-hidden="true"></i>
    -->
    <input type="text" 
        placeholder="search applications / datasets / projects, etc.. " 
        ng-change="update_search()"
        onfocus="this.placeholder = ''" 
        ng-model="searchterm"></input>
</div>
<div class="container-fluid" style="margin-top: 93px">
    <h2>APPLICATIONS</h2>
    <table class="table table-hover table-condensed onere-table">
        <thead>
        <tr class="text-muted">
            <th>Project 
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th width="35%">Name/Desc
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th>Datasets
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th>Resource&nbsp;Type
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th width="120px">Date
                <i class="fa fa-sort pull-right" aria-hidden="true"></i>
            </th>
            <th>Tags</th>
            <th width="120px">Contacts</th>
            <!--
            <th>Publications</th>
            -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="app in apps" ng-click="open(app)">
            <td>
                Test
            </td>

            <!--Name/Desc-->
            <td>
                <h5 class="app-name">{{app.name}}</h5>
                <p class="">{{app.desc|cut:true:200:' ...'}}</p>
            </td>

            <!--dataset-->
            <td>
                <div ng-repeat="dataset in app.datasets">
                    {{dataset.id.name}} <small>as</small> <code>{{dataset.name}}</code>
                </div>
            </td>

            <!--resource_type-->
            <td>
                {{app.config.resource_type|uppercase}}
            </td>


            <td>
                <time>{{app.create_date|date}}</time>
            </td>
            
            <!--tags-->
            <td>
                <span>Frontal</span>
                <span>Motor</span>
            </td>

            <!--contacts-->
            <td>
                <scaprofile id="app.user_id" email="false"></scaprofile>
            </td>

 
            <!--publications-->
            <!--
            <td>
                <small class="">Emergence of orientation selectivity in the mammalian visual pathway.  Benjamin Scholl, Andrew Y.Y. Tan, Joe Corey and Nicholas J. Priebe.; J. Neurosci. 33(26):10616-10624.</small>
            </td>
            -->
            <!--
            <td class="text-muted">
                <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
            </td>
            -->
        </tr>
        </tbody>
    </table>
    <!--
    <div class="onere-home-addicon" ng-click="add()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> 
    </div>
    -->

    <div class="text-muted">
        <hr style="margin-top: 200px;">
        <h3>Debug</h3>
        <pre style="font-size: 60%;">{{apps|json}}</pre>
    </div>
</div>
