<div class="onere-search-area">
    <i class="fa fa-search onere-search-icon text-muted" 
        aria-hidden="true"></i>
    <!--
    <i class="fa fa-times-circle-o onere-search-clear text-muted" 
        ng-if="searchterm" 
        ng-click="clear_searchterm()" 
        aria-hidden="true"></i>
    -->
    <input type="text" 
        placeholder="search datasets / code / projects, etc.. " 
        ng-change="update_search()"
        onfocus="this.placeholder = ''" 
        ng-model="searchterm"></input>
</div>
<div class="container-fluid" style="margin-top: 93px">
    <h2>App/Data</h2>
    <p class="text-muted">Here are the list of app/data combinations used to produce data products published by authors.</p>
    <table class="table table-hover table-condensed onere-table">
        <thead>
        <tr class="text-muted">
            <th width="35%">Project / Entry Name</th>
            <th>Dataset</th>
            <th>Application</th>
            <th>Publications</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appdata in appdatas" ng-click="open(appdata)">
            <td>
                <h5 class="appdata-name">
                    <span class="label label-default">Test Project</span> {{appdata.name}}
                </h5>
                <p class="text-muted">
                    <small>doi:10.1234/onere.{{appdata._id}}</small> |
                    <scaprofile id="appdata.user_id" email="false"></scaprofile> |
                    <time>{{appdata.create_date|date}}</time>
                </p>
                <p class="">{{appdata.desc|cut:true:100:' ...'}}</p>
            </td>
            <td>
                <h5>{{appdata.dataset_id.name}}</h5>
                <p class="">{{appdata.dataset_id.desc|cut:true:100:' ...'}}</p>
            </td>
            <td>
                <apptype type="appdata.application_id.config.type" class="pull-right"></apptype>
                <h5>{{appdata.application_id.name}}</h5>
                <p class="">{{appdata.application_id.desc|cut:true:100}}</p>
            </td>
            <td>
                <small class="">Emergence of orientation selectivity in the mammalian visual pathway.  Benjamin Scholl, Andrew Y.Y. Tan, Joe Corey and Nicholas J. Priebe.; J. Neurosci. 33(26):10616-10624.</small>
            </td>
            <!--
            <td class="text-muted">
                <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
            </td>
            -->
        </tr>
        </tbody>
    </table>
    <div class="onere-home-addicon" ng-click="add()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> 
    </div>

    <div class="text-muted">
        <hr style="margin-top: 200px;">
        <h3>Debug</h3>
        <pre style="font-size: 60%;">{{appdatas|json}}</pre>
    </div>
</div>
