<div class="container">
    <h3 ng-if="type == 'diff'">Add Diffusion (.nii.gz) Input</h3>
    <h3 ng-if="type == 'b'">Add .b (text) Input</h3>
    <h3 ng-if="type == 'mask'">Add mask (.nii.gz) Input</h3>
    <div class="page">
        <div class="form-group">
            <uib-tabset>
                <uib-tab index="0" heading="Upload">
                    <br>
                    <sca-wf-uploader instid="instance._id" taskid="appconf.upload_task_id" files="files"></sca-wf-uploader>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="openpage('/submit')">Back</button>
                        <button type="button" class="btn btn-primary" ng-click="doneupload(files)" ng-if="files.length > 0">Next</button>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="From URL">
                    <br>
                    <form ng-submit="fromurl(url)">
                        <div class="form-group">
                            <label for="subject">URL</label>
                            <input type="text" class="form-control" ng-model="url" placeholder="http://somewhere.com/somepath/some.nii.gz" required>
                        </div>
                        <p>Sample Data</p>
                        <ul ng-repeat="sample in appconf.sample_urls[type]"> 
                            <li>
                                <b>{{sample.name}}</b><br>
                                <a href="javascript:void(0);" ng-click="$parent.url = sample.url">{{sample.url}}</a>
                            </li>
                        </ul>
                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="openpage('/submit')">Back</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="!url">Next</button>
                        </div>
                    </form>
                </uib-tab>
                <uib-tab index="2" heading="From SDA">
                    <br>
                    <p class="alert alert-warning" ng-if="resources.hpss.length == 0">You don't have any HPSS resource registered</p>
                    <div ng-if="resources.hpss.length > 0">
                        <form ng-submit="fromsda()">
                            <div class="form-group">
                                <label for="subject">Account</label>
                                <select class="form-control" ng-model="instance.config.sda.resource" ng-options="r.name for r in resources.hpss"></select>
                            </div>
                            <div class="form-group">
                                <label for="subject">SDA Path</label>
                                <input type="text" class="form-control" ng-model="instance.config.sda.path" placeholder="/some/hpss/dir/life_brain_data.tar.gz" required>
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn" ng-click="openpage('/submit')">Back</button>
                                <button type="submit" class="btn btn-primary" ng-disabled="!instance.config.sda.path || !instance.config.sda.resource">Next</button>
                            </div>
                        </form>
                    </div>
                </uib-tab>
            </uib-tabset>
            <br clear="both">
        </div>
    </div>
    <br>
</div>

