<div class="sca-sidebar">
    <h2 class="text-muted"><i class="fa fa-envira" aria-hidden="true"></i></h2>
    <br>
    <br>

    <div class="menu" ng-class="{'active':  active_menu == 'home'}" ng-click="openpage('/home');">
        <h3><i class="fa fa-home" aria-hidden="true"></i></h3> Search
    </div>
    <!--
    <div class="menu" ng-class="{'active':  active_menu == 'projects'}" ng-click="openpage('/projects')">
        <h3><i class="fa fa-object-group" aria-hidden="true"></i></h3> Projects
    </div>
    -->
    <div class="menu" ng-class="{'active':  active_menu == 'datasets'}" ng-click="openpage('/datasets')">
        <h3><i class="fa fa-database" aria-hidden="true"></i></h3> Datasets
    </div>
    <div class="menu" ng-class="{'active':  active_menu == 'apps'}" ng-click="openpage('/apps')">
        <h3><i class="fa fa-th-large" aria-hidden="true"></i></h3> Apps
    </div>
    <!--
    <div class="menu" ng-class="{'active':  active_menu == 'appdata'}" ng-click="openpage('/appdata')">
        <h3><i class="fa fa-server" aria-hidden="true"></i></h3> App/Data
    </div>
    -->
    <div class="menu" ng-class="{'active':  active_menu == 'runs'}" ng-click="openpage('/runs')">
        <h3><i class="fa fa-play-circle" aria-hidden="true"></i></h3> Execute
    </div>

    <div class="bottom">
        <div class="menu" ng-click="relocate('https://github.com/soichih/sca-wf-onere/wiki/Help')">
            <h3><i class="fa fa-question" aria-hidden="true"></i></h3> Help
        </div>
        <hr>
        <div class="menu" ng-click="relocate('/profile')">
            <h3><i class="fa fa-cog" aria-hidden="true"></i></h3> Settings
        </div>
    </div>

    <!--
    <div id="settings-menu" ng-if="show_settings">
        <a href="/profile" class="menu">Profile</a>
    </div>
    -->
</div>
