<div class="container">
    <h2>Connectome Evaluator</h2>
    <p>Submit a connectome evaluator workflow</p>

    <div class="page">
        <p class="alert alert-warning" ng-if="!resources.life">No resource is available to submit your workflow. Please check your resource status.</p>
        <form ng-submit="submit()" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea ng-model="instance.config.desc" class="form-control" placeholder="Description for this submission"></textarea>
                </div>
            </div>

            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">Diffusion Data</label>
                <div class="col-sm-10">
                    <ui-select ng-model="instance.config.diff">
                        <ui-select-match>{{$select.selected.filename}}</ui-select-match>
                        <ui-select-choices repeat="file in diffs">
                            {{file.filename}}
                        </ui-select-choices>
                    </ui-select>
                    <a href="javascript:void(0)" ng-click="openpage('input/diff');">Add</a>
                </div>
            </div>
            -->

            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">.b File</label>
                <div class="col-sm-10">
                    <ui-select ng-model="instance.config.b">
                        <ui-select-match>{{$select.selected.filename}}</ui-select-match>
                        <ui-select-choices repeat="file in bs">
                            {{file.filename}}
                        </ui-select-choices>
                    </ui-select>
                    <a href="javascript:void(0)" ng-click="openpage('input/b');">Add</a>
                </div>
            </div>
            -->

            <!--
            <div class="form-group">
                <label class="col-sm-2 control-label">WM Mask</label>
                <div class="col-sm-10">
                    <ui-select ng-model="instance.config.mask">
                        <ui-select-match>{{$select.selected.filename}}</ui-select-match>
                        <ui-select-choices repeat="file in masks">
                            {{file.filename}}
                        </ui-select-choices>
                    </ui-select>
                    <a href="javascript:void(0)" ng-click="openpage('input/mask');">Add</a>
                </div>
            </div>
            -->

            <div class="form-group">
                <label class="col-sm-2 control-label">Fibers</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="instance.config.fibers" class="form-control" placeholder="5000"></input>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Fibers Max Attempted</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="instance.config.fibers_max" class="form-control" placeholder="10000"></input>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" 
                            ng-disabled="!instance.config.diff || !instance.config.b || !instance.config.mask">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

