<div class="container">
    <h3 ng-if="menu_active == 'running'">Running Tasks</h3>
    <h3 ng-if="menu_active == 'finished'">Finished Tasks</h3>
    <div class="page">
        <p ng-if="tasks.length == 0" class="text-muted">No tasks</p>
        <ul class="list-group">
            <li class="list-group-item slide-down clickable" ng-repeat="task in tasks | orderBy:'-create_date'" ng-click="open(task)">
                <sca-wf-tasksum task="task">
                    <!--tranclude a bit more details-->
                    <pre style="font-size: 80%;">{{task|json}}</pre>
                </sca-wf-tasksum>
            </li>
        </ul>
        
        <!--
        <button class="btn" ng-click="new()" type="button">Submit New</button>
        -->
    </div>
</div>


